__pycache__
.pytest_cache
.mypy_cache
.coverage
.venv
htmlcov
dist
Annotations2Sub.egg-info
测试用例/
src/tests/garbage/*
!src/tests/garbage/stub
report
*.mp4
*.mkv
*.webm
*.xml
*.ass
*.lnk
*.ps1
*.pyz
*.dot
*.prof
mypy.ini
uv.lock
.python-version
