name: Lint Check
on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths:
      - "**.py"
      - ".github/workflows/lint-check.yml"
  pull_request:
    paths:
      - "**.py"
      - ".github/workflows/lint-check.yml"

jobs:
  check:
    name: Check
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install mypy black pytest

      - name: Lint with black
        run: black . --check

      - name: Type check
        run: mypy . --check-untyped-defs
